<nav   class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <img src="icono/nav/dragon_Ball_icono.png" alt="Dragon Ball" class="img-fluid" style="width:100px;">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link glow"   [routerLink]="['personajes/page/1']"   >personajes</a>
        <a class="nav-link glow" [routerLink]="['planetas/page/1']"  >mundos</a>
      </div>
    </div>
  </div>
</nav>
