.page-item.active .page-link {
    background-color: orange;
    /* fondo naranja estilo aura */
    border-color: gold;
    /* borde dorado */
    color: white;
    /* texto blanco */
    font-weight: bold;
    /* texto más fuerte */
    box-shadow: 0 0 15px gold,
        /* aura dorada */
        0 0 30px orange,
        0 0 45px red;
    transition: all 0.3s ease-in-out;
    /* texto blanco */
}

@media (max-width: 576px) {
  .custom-pagination .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
  }
}

/* Tamaño normal en tablets */
@media (min-width: 577px) and (max-width: 992px) {
  .custom-pagination .page-link {
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
  }
}

/* Tamaño grande en pantallas grandes */
@media (min-width: 993px) {
  .custom-pagination .page-link {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
  }
}